/*index CSS*/
div.gameContainer
{
    display: flex;
    justify-content: space-around;
    background-color: #FFAE42;
}

#userfname,#userlname,#email,#gender,#educationallevel,#street,#city,#town,#country,#DOB{
    float:right;
}

div.mainContainer
{
    border: 2px solid #153317;
}

h1{
    font-family: Verdana;
    text-align: center;
}

#register_table{
    background-color: yellow;
}

button{
    align-content: center;
}


/*Game Board CSS*/
#c1_1,#c2_1,#c3_1,#c4_1,#c4_1,#c5_1, #c1_2,#c2_2,#c3_2,#c4_2,#c4_2,#c5_2, #c1_3,#c2_3,#c3_3,#c4_3,#c4_3,#c5_3,
#c1_4,#c2_4,#c3_4,#c4_4,#c5_4,#c1_5,#c2_5,#c3_5,#c4_5,#c4_5,#c5_5{
    width: 100px;
    height: 70px;
    color: yellow;
    background-color: black;
    border-radius: 12px;
    font-size: large;
    font-family:Bahnschrift;
}

#jboard{
    background-color: aquamarine;
    border-style: groove;
    border-radius: 12px;
    border-color: blue;
}
button.question_button
{
    color: lightyellow;
    background-color: darkslategrey;
    border-radius: 12px;
    font-size: large;
    font-family:Bahnschrift;
}

div.Questions{
    position: absolute;
    width: 30%;
    height: 30%;
    top: 35%;
    left: 35%;
    text-align: center;
    background: yellow;
}

p{
    font-size: large;
}

/*
#Score
{
    position:absolute;
    bottom: 10px;
    width: 850px;
    height: 580px;
    right: 200px;
    left:600px;
}*/



